[Unit]
Description=The public API of CleanEmon's ecosystem
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/kamazgal/miniconda3/envs/NILM-Inference-APIs/bin/uvicorn CleanEmonBackend.API:api --host 0.0.0.0 --root-path /api

[Install]
WantedBy=multi-user.target
